@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal global resets */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; background-color: #FFFFFF; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
